/*Header*/
header img{
    width: 30%;
    height: 30%;
}

header a img{
  width: 5%;
  height: 5%;
  float: right;
  margin-top: 65px;
}

/*nav*/
nav{
  text-align: center;
  background-color: gray;
  float: left;
  clear: both;
  margin-top: 20px;
  width: 100%;


}

nav ul{
  height: 40px;
  margin-left: 20px;

}

nav ul li{
  display: inline;

}

nav li a{

      display: inline-block;

      color: lightgray;
      text-decoration: none;
      margin-top: 8px;
      float: left;

      padding-right: 10%;
}

/*main*/
main{
  margin-top: 8%;
}

/*main figure{
    float: right;
}*/

main h1{
    margin-left: 20px;
}


main img{
      margin-left: 76px;
      width: 30%;
      /*padding: 30px;*/
      background-color: lightgray;
      padding: 20px;
      padding-bottom: 40px

}

main article{
    float: left;
    width: 50%;
    margin-left: 45px;
}

main figure figcaption{
    /*margin-left: 259px;*/
    margin-top: -32px;

    text-align: center;
}


footer{
  padding-top: 20px;
  clear: both;
}
